<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: head"></head>
<body>
<wrapper class="d-flex flex-column">
    <header th:replace="fragments/fragment :: nav"></header>
    <main class="flex-fil align-content-center bg-blur my-main">
        <div class="row" id="body-row">
            <div th:replace="fragments/fragment :: sidebar"></div>

            <div class="col p-4">
                <h2>Admin Halls Management</h2>
                <hr/>
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <img th:src="@{/images/image-placeholder.jpg}"
                             class="img-thumbnail mx-auto d-block demo-thumbnail" alt="Image placeholder">
                    </div>
                    <div class="col-lg-9 col-md-9">
                        <form th:object="${placeBindingModel}" method="post" th:action="@{/admin/halls}">
                            <input type="hidden" name="id" id="id" value=""/>
                            <input type="hidden" name="isActive" id="isActive" value=""/>
                            <div class="form-row">
                                <div class="col-md-6 mb-2">
                                    <label for="placeName">Name</label>
                                    <input th:field="*{name}" type="text" class="form-control" id="placeName"
                                           th:classappend="${(isFirstTime ? '' : (#fields.hasErrors('name') ? 'is-invalid' : 'is-valid'))}"
                                           name="name" aria-describedby="placeNameFeedback" placeholder="Hall name"
                                           required="required"/>
                                    <div th:if="${(!isFirstTime and #fields.hasErrors('name'))}"
                                         id="placeNameFeedback"
                                         th:class="${(#fields.hasErrors('name') ? 'invalid-feedback' : 'valid-feedback')}"
                                         th:text="${(#fields.hasErrors('name') ? #fields.errors('name').get(0).toString() : 'Looks good')}">
                                    </div>
                                </div>
                                <div class="col-md-6 mb-2 ml-auto">
                                    <label for="placeImageUrl">Image</label>
                                    <input th:field="*{imageUrl}" type="url" class="form-control" id="placeImageUrl"
                                           th:classappend="${(isFirstTime ? '' : (#fields.hasErrors('imageUrl') ? 'is-invalid' : 'is-valid'))}"
                                           name="imageUrl" aria-describedby="placeImageUrlFeedback"
                                           placeholder="Hall image URL" required="required"/>
                                    <div th:if="${(!isFirstTime and #fields.hasErrors('imageUrl'))}"
                                         id="placeImageUrlFeedback"
                                         th:class="${(#fields.hasErrors('imageUrl') ? 'invalid-feedback' : 'valid-feedback')}"
                                         th:text="${(#fields.hasErrors('imageUrl') ? #fields.errors('imageUrl').get(0).toString() : 'Looks good')}">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-2">
                                    <div class="row">
                                        <div class="col-md-4 mb-2">
                                            <label for="hallCity">City</label>
                                            <input th:field="*{city}" type="text" class="form-control" id="hallCity"
                                                   name="city" aria-describedby="hallCityFeedback" placeholder="City"
                                                   th:classappend="${(isFirstTime ? '' : (#fields.hasErrors('city') ? 'is-invalid' : 'is-valid'))}"
                                                   required="required"/>
                                            <div th:if="${(!isFirstTime and #fields.hasErrors('city'))}"
                                                 id="hallCityFeedback"
                                                 th:class="${(#fields.hasErrors('city') ? 'invalid-feedback' : 'valid-feedback')}"
                                                 th:text="${(#fields.hasErrors('city') ? #fields.errors('city').get(0).toString() : 'Looks good')}">
                                            </div>
                                        </div>
                                        <div class="col-md-8 mb-2">
                                            <label for="hallAddress">Address</label>
                                            <input th:field="*{address}" type="text" class="form-control"
                                                   id="hallAddress" name="address" required="required"
                                                   aria-describedby="hallAddressFeedback" placeholder="Address"
                                                   th:classappend="${(isFirstTime ? '' : (#fields.hasErrors('address') ? 'is-invalid' : 'is-valid'))}"/>
                                            <div th:if="${(!isFirstTime and #fields.hasErrors('address'))}"
                                                 id="hallAddressFeedback"
                                                 th:class="${(#fields.hasErrors('address') ? 'invalid-feedback' : 'valid-feedback')}"
                                                 th:text="${(#fields.hasErrors('address') ? #fields.errors('address').get(0).toString() : 'Looks good')}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 mb-2">
                                            <label for="hallPhone">Phone</label>
                                            <input th:field="*{phone}" type="text" class="form-control" id="hallPhone"
                                                   name="phone" aria-describedby="hallPhoneFeedback" placeholder="Phone"
                                                   th:classappend="${(isFirstTime ? '' : (#fields.hasErrors('phone') ? 'is-invalid' : 'is-valid'))}"
                                                    required="required"/>
                                            <div th:if="${(!isFirstTime and #fields.hasErrors('phone'))}"
                                                 id="hallPhoneFeedback"
                                                 th:class="${(#fields.hasErrors('phone') ? 'invalid-feedback' : 'valid-feedback')}"
                                                 th:text="${(#fields.hasErrors('phone') ? #fields.errors('phone').get(0).toString() : 'Looks good')}">
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-2">
                                            <label for="hallWorkFrom">Work from</label>
                                            <input th:field="*{workFrom}" type="time" class="custom-select"
                                                   th:classappend="${(isFirstTime ? '' : (#fields.hasErrors('workFrom') ? 'is-invalid' : 'is-valid'))}"
                                                   id="hallWorkFrom" name="workFrom" placeholder="Work from"
                                                   aria-describedby="hallWorkFromFeedback" required="required"/>
                                            <div th:if="${(!isFirstTime and #fields.hasErrors('workFrom'))}"
                                                 id="hallWorkFromFeedback"
                                                 th:class="${(#fields.hasErrors('workFrom') ? 'invalid-feedback' : 'valid-feedback')}"
                                                 th:text="${(#fields.hasErrors('workFrom') ? #fields.errors('workFrom').get(0).toString() : 'Looks good')}">
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-2">
                                            <label for="hallWorkTo">Work to</label>
                                            <input th:field="*{workTo}" type="time" class="custom-select"
                                                   id="hallWorkTo" name="workTo" aria-describedby="hallWorkToFeedback"
                                                   th:classappend="${(isFirstTime ? '' : (#fields.hasErrors('workFrom') ? 'is-invalid' : 'is-valid'))}"
                                                   placeholder="Work to" required="required"/>
                                            <div th:if="${(!isFirstTime and #fields.hasErrors('workTo'))}"
                                                 id="hallWorkToFeedback"
                                                 th:class="${(#fields.hasErrors('workTo') ? 'invalid-feedback' : 'valid-feedback')}"
                                                 th:text="${(#fields.hasErrors('workTo') ? #fields.errors('workTo').get(0).toString() : 'Looks good')}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-2">
                                    <label for="hallDescription">Description</label>
                                    <textarea th:field="*{description}" id="hallDescription" name="description"
                                              aria-describedby="descriptionFeedback" class="form-control"
                                              th:classappend="${(isFirstTime ? '' : (#fields.hasErrors('description') ? 'is-invalid' : 'is-valid'))}"
                                              placeholder="Description" rows="5" required></textarea>
                                    <div th:if="${(!isFirstTime and #fields.hasErrors('description'))}"
                                         id="descriptionFeedback"
                                         th:class="${(#fields.hasErrors('description') ? 'invalid-feedback' : 'valid-feedback')}"
                                         th:text="${(#fields.hasErrors('description') ? #fields.errors('description').get(0).toString() : 'Looks good')}">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <button class="btn btn-success btn-lg ml-auto" type="submit">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
                <hr/>
                <h2>Halls list</h2>
                <div class="row">
                    <div class="table-responsive col-md-12 col-lg-12">
                        <table id="contractors_table" class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th class="text-center">Name</th>
                                <th class="text-center">City</th>
                                <th class="text-center">Address</th>
                                <th class="text-center">Work from</th>
                                <th class="text-center">Work to</th>
                                <th class="text-center">Phone</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Edit</th>
                                <th class="text-center">Change Status</th>
                            </tr>
                            </thead>
                            <tbody class="text-center">
                            <tr th:if="${halls} == 0">
                                <td colspan="12">Empty cart</td>
                            </tr>
                            <tr th:each="h : ${halls}" th:data-id="${h.id}">
                                <input type="hidden" th:id="${'imageUrl_' + h.id}" th:value="${h.imageUrl}"/>
                                <input type="hidden" th:id="${'description_' + h.id}" th:value="${h.description}"/>
                                <input type="hidden" th:id="${'status_' + h.id}" th:value="${h.isActive}"/>
                                <td th:text="${h.name}" th:id="${'name_' + h.id}">Arena Armeec</td>
                                <td th:text="${h.city}" th:id="${'city_' + h.id}">Sofia</td>
                                <td th:text="${h.address}" th:id="${'address_' + h.id}">Carigradsko shose 1</td>
                                <td th:text="${h.workFrom}" th:id="${'workFrom_' + h.id}">9:30</td>
                                <td th:text="${h.workTo}" th:id="${'workTo_' + h.id}">18:30</td>
                                <td th:text="${h.phone}" th:id="${'phone_' + h.id}">1122334455</td>
                                <td>
                                    <h4>
                                            <span th:if="${h.isActive == true}" class="badge badge-success">
                                            Active
                                            </span>
                                        <span th:if="${h.isActive == false}" class="badge badge-danger">
                                            Inactive
                                            </span>
                                    </h4>
                                </td>
                                <td th:data-id="${h.id}">
                                    <button class="btn btn-primary btn-sm hallEdit" data-title="" data-toggle="modal"
                                            data-target="#edit">
                                        <span class="fas fa-pen"></span>
                                    </button>
                                </td>
                                <td>
                                    <form th:action="@{/admin/halls/status}" method="post">
                                        <input type="hidden" name="id" th:value="${h.id}"/>
                                        <button class="btn btn-sm"
                                                th:classappend="${h.isActive == true ? 'btn-danger' : 'btn-success'}"
                                                data-title="" type="submit">
                                            <span class="fas"
                                                  th:classappend="${h.isActive == true ? 'fa-times' : 'fa-check'}"></span>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="fragments/fragment :: footer"></footer>
    <script th:src="@{/js/halls.js}" type="text/javascript"></script>
</wrapper>
</body>
</html>
