<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: head"></head>
<body>
<wrapper class="d-flex flex-column">
    <header th:replace="fragments/fragment :: nav"></header>
    <main class="flex-fil align-content-center bg-blur my-main">
        <div class="row" id="body-row">
            <div th:replace="fragments/fragment :: sidebar"></div>

            <div class="col p-4">
                <h2>Admin Item Management</h2>
                <hr/>
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <img th:src="@{/images/image-placeholder.jpg}"
                             class="img-thumbnail mx-auto d-block demo-thumbnail" alt="Image placeholder">
                    </div>
                    <div class="col-lg-9 col-md-9">
                        <form th:object="${productBindingModel}" method="post" th:action="@{/admin/products}">
                            <input type="hidden" name="productId" id="id" value=""/>
                            <div class="form-row">
                                <div class="col-md-6 mb-2">
                                    <label for="productName">Name</label>
                                    <input th:field="*{productName}" type="text" class="form-control" id="productName"
                                           th:classappend="${(isFirstTime ? '' : (#fields.hasErrors('productName') ? 'is-invalid' : 'is-valid'))}"
                                           name="productName" aria-describedby="productNameFeedback"
                                           placeholder="Accessory name" required="required"/>
                                    <div th:if="${(!isFirstTime and #fields.hasErrors('productName'))}"
                                         id="productNameFeedback"
                                         th:class="${(#fields.hasErrors('productName') ? 'invalid-feedback' : 'valid-feedback')}"
                                         th:text="${(#fields.hasErrors('productName') ? #fields.errors('productName').get(0).toString() : 'Looks good')}">
                                    </div>
                                </div>
                                <div class="col-md-3 mb-2">
                                    <label for="productAvailableQuantity">Quantity</label>
                                    <input th:field="*{productAvailableQuantity}"
                                           th:classappend="${(isFirstTime ? '' : (#fields.hasErrors('productAvailableQuantity') ? 'is-invalid' : 'is-valid'))}"
                                           type="number" class="form-control" id="productAvailableQuantity"
                                           name="productAvailableQuantity" placeholder="Quantity" required="required"
                                           aria-describedby="productAvailableQuantityFeedback"/>
                                    <div th:if="${(!isFirstTime and #fields.hasErrors('productAvailableQuantity'))}"
                                         id="productAvailableQuantityFeedback"
                                         th:class="${(#fields.hasErrors('productAvailableQuantity') ? 'invalid-feedback' : 'valid-feedback')}"
                                         th:text="${(#fields.hasErrors('productAvailableQuantity') ? #fields.errors('productAvailableQuantity').get(0).toString() : 'Looks good')}">
                                    </div>
                                </div>
                                <div class="col-md-3 mb-2">
                                    <label for="productPrice">Price</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupPrepend33">&#36;</span>
                                        </div>
                                        <input th:field="*{productPrice}" name="productPrice" placeholder="Price"
                                               th:classappend="${(isFirstTime ? '' : (#fields.hasErrors('productPrice') ? 'is-invalid' : 'is-valid'))}"
                                               type="number" step="0.1" class="form-control" id="productPrice"
                                               aria-describedby="productPriceFeedback" required="required"/>
                                        <div th:if="${(!isFirstTime and #fields.hasErrors('productPrice'))}"
                                             id="productPriceFeedback"
                                             th:class="${(#fields.hasErrors('productPrice') ? 'invalid-feedback' : 'valid-feedback')}"
                                             th:text="${(#fields.hasErrors('productPrice') ? #fields.errors('productPrice').get(0).toString() : 'Looks good')}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-2">
                                    <div class="row">
                                        <div class="col-md-12 mb-2 ml-auto">
                                            <label for="productImageUrl">Image</label>
                                            <input th:field="*{productImageUrl}" type="url" class="form-control"
                                                   th:classappend="${(isFirstTime ? '' : (#fields.hasErrors('productImageUrl') ? 'is-invalid' : 'is-valid'))}"
                                                   id="productImageUrl" name="productImageUrl"
                                                   aria-describedby="productImageUrlFeedback"
                                                   placeholder="Item image URL" required="required"/>
                                            <div th:if="${(!isFirstTime and #fields.hasErrors('productImageUrl'))}"
                                                 id="productImageUrlFeedback"
                                                 th:class="${(#fields.hasErrors('productImageUrl') ? 'invalid-feedback' : 'valid-feedback')}"
                                                 th:text="${(#fields.hasErrors('productImageUrl') ? #fields.errors('productImageUrl').get(0).toString() : 'Looks good')}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 mb-2">
                                            <label for="status">Status</label>
                                            <select class="custom-select" id="status" name="isActive"
                                                    required="required"
                                                    th:classappend="${(isFirstTime ? '' : (#fields.hasErrors('isActive') ? 'is-invalid' : 'is-valid'))}"
                                                    aria-describedby="statusFeedback">
                                                <option value="" selected>Status...</option>
                                                <option th:value="false" th:selected="(*{isActive} == false)">Inactive</option>
                                                <option th:value="true" th:selected="(*{isActive} == true)">Active</option>
                                            </select>
                                            <div th:if="${(!isFirstTime and #fields.hasErrors('isActive'))}"
                                                 id="statusFeedback"
                                                 th:class="${(#fields.hasErrors('isActive') ? 'invalid-feedback' : 'valid-feedback')}"
                                                 th:text="${(#fields.hasErrors('isActive') ? #fields.errors('isActive').get(0).toString() : 'Looks good')}">
                                            </div>
                                        </div>
                                        <div class="col-md-5 mb-2">
                                            <label for="productSportId">Sport</label>
                                            <select class="custom-select" id="productSportId" name="productSportId"
                                                    required="required" aria-describedby="sportIdFeedback"
                                                    th:classappend="${(isFirstTime ? '' : (#fields.hasErrors('productSportId') ? 'is-invalid' : 'is-valid'))}">
                                                <option value="" selected>Choice Sport</option>
                                                <option th:each="s : ${sports}" th:value="${s.id}"
                                                        th:text="${s.name}"
                                                        th:selected="${s.getId()} == *{productSportId}">
                                                </option>
                                            </select>
                                            <div th:if="${(!isFirstTime and #fields.hasErrors('productSportId'))}"
                                                 id="sportIdFeedback"
                                                 th:class="${(#fields.hasErrors('productSportId') ? 'invalid-feedback' : 'valid-feedback')}"
                                                 th:text="${(#fields.hasErrors('productSportId') ? #fields.errors('productSportId').get(0).toString() : 'Looks good')}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-2">
                                    <label for="productDescription">Description</label>
                                    <textarea th:field="*{productDescription}" class="form-control"
                                              id="productDescription" name="productDescription"
                                              th:classappend="${(isFirstTime ? '' : (#fields.hasErrors('productDescription') ? 'is-invalid' : 'is-valid'))}"
                                              placeholder="Description" rows="5" required="required"
                                              aria-describedby="descriptionFeedback"></textarea>
                                    <div th:if="${(!isFirstTime and #fields.hasErrors('productDescription'))}"
                                         id="descriptionFeedback"
                                         th:class="${(#fields.hasErrors('productDescription') ? 'invalid-feedback' : 'valid-feedback')}"
                                         th:text="${(#fields.hasErrors('productDescription') ? #fields.errors('productDescription').get(0).toString() : 'Looks good')}">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <button class="btn btn-success btn-lg ml-auto" type="submit">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
                <hr/>
                <h2>Products list</h2>
                <div class="row">
                    <div class="table-responsive col-md-12 col-lg-12">
                        <table id="contractors_table" class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th class="text-center">Name</th>
                                <th class="text-center">Price</th>
                                <th class="text-center">Quantity</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Change Status</th>
                            </tr>
                            </thead>
                            <tbody class="text-center">
                            <tr th:if="${products} == 0">
                                <td colspan="12">Empty cart</td>
                            </tr>
                            <tr th:each="p : ${products}">
                                <td th:text="${p.name}">name</td>
                                <td th:text="${p.price}">10.10</td>
                                <td th:text="${p.availableQuantity}">30</td>
                                <td>
                                    <h4>
                                            <span th:if="${p.isActive == true}" class="badge badge-success">
                                            Active
                                            </span>
                                        <span th:if="${p.isActive == false}" class="badge badge-danger">
                                            Inactive
                                            </span>
                                    </h4>
                                </td>
                                <td>
                                    <form th:action="@{/admin/products/status}" method="post">
                                        <input type="hidden" name="id" th:value="${p.id}"/>
                                        <button class="btn btn-sm"
                                                th:classappend="${p.isActive == true ? 'btn-danger' : 'btn-success'}"
                                                data-title="" type="submit">
                                            <span class="fas"
                                                  th:classappend="${p.isActive == true ? 'fa-times' : 'fa-check'}"></span>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="fragments/fragment :: footer"></footer>
</wrapper>
</body>
</html>
