<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/fragment :: head"></head>

    <body>
        <wrapper class="d-flex flex-column">
            <header th:replace="fragments/fragment :: nav"></header>
            <main class="flex-fill">
                <div class="container">
                    <h1 class="h3 mb-2 mt-3 text-gray-800 border-bottom">Sportsman Registration</h1>
                    <div th:if="${!errMessage.equals('')}" class="alert alert-danger" role="alert">
                        <span th:text="${errMessage}"></span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="row">
                                <img alt="Sports athlete icons silhouette"
                                     src="/images/sports_athlete_icons_silhouette_retro_design.jpg"
                                     class="w-50 rounded">
                            </div>
                        </div>
                        <div class="col">
                            <form th:object="${sportsmanRegisterBindingModel}" th:action="@{/user/register}" method="POST"
                                  class="justify-content-center align-items-center">
                                <div class="row">
                                    <div class="col-xl-5 col-md-6">
                                        <div class="form-group">
                                            <label for="firstName">
                                                <h4>First name</h4>
                                            </label>
                                            <input th:field="*{firstName}" class="form-control" type="text"
                                                   th:classappend="${(isFirstTime ? '' : (#fields.hasErrors('firstName') ? 'is-invalid' : 'is-valid'))}"
                                                   id="firstName" name="firstName" required="required"
                                                   placeholder="First name" aria-describedby="firstNameFeedback" />
                                            <div th:if="${(!isFirstTime and #fields.hasErrors('firstName'))}" id="firstNameFeedback"
                                                 th:class="${(#fields.hasErrors('firstName') ? 'invalid-feedback' : 'valid-feedback')}"
                                                 th:text="${(#fields.hasErrors('firstName') ? #fields.errors('firstName').get(0).toString() : 'Looks good')}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-5 col-md-6">
                                        <div class="form-group">
                                            <label for="lastName">
                                                <h4>Last name</h4>
                                            </label>
                                            <input th:field="*{lastName}" type="text" id="lastName" name="lastName"
                                                   class="form-control" required="required"
                                                   th:classappend="${(isFirstTime ? '' : (#fields.hasErrors('lastName') ? 'is-invalid' : 'is-valid'))}"
                                                   placeholder="Last name" aria-describedby="lastNameFeedback" />
                                            <div th:if="${(!isFirstTime and #fields.hasErrors('lastName'))}" id="lastNameFeedback"
                                                 th:class="${(#fields.hasErrors('lastName') ? 'invalid-feedback' : 'valid-feedback')}"
                                                 th:text="${(#fields.hasErrors('lastName') ? #fields.errors('lastName').get(0).toString() : 'Looks good')}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-xl-10">
                                        <label for="email">
                                            <h4>Email</h4>
                                        </label>
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">@</div>
                                            </div>
                                            <input th:field="*{email}" type="text" name="email"
                                                   class="form-control" required="required"
                                                   th:classappend="${(isFirstTime ? '' : (#fields.hasErrors('email') ? 'is-invalid' : 'is-valid'))}"
                                                   aria-describedby="emailFeedback" id="email" placeholder="Email">
                                            <div th:if="${(!isFirstTime and #fields.hasErrors('email'))}" id="emailFeedback"
                                                 th:class="${(#fields.hasErrors('email') ? 'invalid-feedback' : 'valid-feedback')}"
                                                 th:text="${(#fields.hasErrors('email') ? #fields.errors('email').get(0).toString() : 'Looks good')}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-5 col-md-6">
                                        <div class="form-group">
                                            <label for="phone">
                                                <h4>Phone</h4>
                                            </label>
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text"><span class="fas fa-phone"></span></div>
                                                </div>
                                                <input th:field="*{phoneNum}" type="text"
                                                       name="phoneNum" id="phone" class="form-control" required="required"
                                                       th:classappend="${(isFirstTime ? '' : (#fields.hasErrors('phoneNum') ? 'is-invalid' : 'is-valid'))}"
                                                       aria-describedby="phoneFeedback" placeholder="Enter phone" />
                                                <div th:if="${(!isFirstTime and #fields.hasErrors('phoneNum'))}" id="phoneFeedback"
                                                     th:class="${(#fields.hasErrors('phoneNum') ? 'invalid-feedback' : 'valid-feedback')}"
                                                     th:text="${(#fields.hasErrors('phoneNum') ? #fields.errors('phoneNum').get(0).toString() : 'Looks good')}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-5 col-md-6">
                                        <div class="form-group">
                                            <label for="age">
                                                <h4>Age</h4>
                                            </label>
                                            <input th:field="*{age}" type="number" name="age"
                                                   id="age" step="1" class="form-control" required="required"
                                                   th:classappend="${(isFirstTime ? '' : (#fields.hasErrors('age') ? 'is-invalid' : 'is-valid'))}"
                                                   placeholder="Age" aria-describedby="ageFeedback" />
                                            <div th:if="${(!isFirstTime and #fields.hasErrors('age'))}" id="ageFeedback"
                                                 th:class="${(#fields.hasErrors('age') ? 'invalid-feedback' : 'valid-feedback')}"
                                                 th:text="${(#fields.hasErrors('age') ? #fields.errors('age').get(0).toString() : 'Looks good')}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-5 col-md-6">
                                        <div class="form-group">
                                            <label for="target_weight">
                                                <h4>Target weight</h4>
                                            </label>
                                            <input th:field="*{targetWeight}" type="number" name="targetWeight"
                                                   id="target_weight" step="0.1" class="form-control" required="required"
                                                   th:classappend="${(isFirstTime ? '' : (#fields.hasErrors('targetWeight') ? 'is-invalid' : 'is-valid'))}"
                                                   aria-describedby="targetWeightFeedback" placeholder="Weight" />
                                            <div th:if="${(!isFirstTime and #fields.hasErrors('targetWeight'))}" id="targetWeightFeedback"
                                                 th:class="${(#fields.hasErrors('targetWeight') ? 'invalid-feedback' : 'valid-feedback')}"
                                                 th:text="${(#fields.hasErrors('targetWeight') ? #fields.errors('targetWeight').get(0).toString() : 'Looks good')}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-xl-10">
                                        <label for="prof_picture_url">
                                            <h4>Profile Picture URL</h4>
                                        </label>
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><span class="fas fa-globe"></span></div>
                                            </div>
                                            <input th:field="*{profilePictureUrl}" type="text"
                                                   name="profilePictureUrl" class="form-control" id="prof_picture_url"
                                                   th:classappend="${(isFirstTime ? '' : (#fields.hasErrors('profilePictureUrl') ? 'is-invalid' : 'is-valid'))}"
                                                   aria-describedby="profileUrlFeedback" placeholder="URL">
                                        </div>
                                        <div th:if="${(!isFirstTime and #fields.hasErrors('profilePictureUrl'))}" id="profileUrlFeedback"
                                             th:class="${(#fields.hasErrors('profilePictureUrl') ? 'invalid-feedback' : 'valid-feedback')}"
                                             th:text="${(#fields.hasErrors('profilePictureUrl') ? #fields.errors('profilePictureUrl').get(0).toString() : 'Looks good')}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-5 col-md-6">
                                        <div class="form-group">
                                            <label for="password">
                                                <h4>Password</h4>
                                            </label>
                                            <input type="password" name="password"
                                                   id="password" class="form-control" required="required"
                                                   th:classappend="${(isFirstTime ? '' : (#fields.hasErrors('password') ? 'is-invalid' : 'is-valid'))}"
                                                   aria-describedby="passwordFeedback" placeholder="Password" />
                                            <div th:if="${(!isFirstTime and #fields.hasErrors('password'))}" id="passwordFeedback"
                                                 th:class="${(#fields.hasErrors('password') ? 'invalid-feedback' : 'valid-feedback')}"
                                                 th:text="${(#fields.hasErrors('password') ? #fields.errors('password').get(0).toString() : 'Looks good')}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-5 col-md-6">
                                        <div class="form-group">
                                            <label for="confirm_password">
                                                <h4>Confirm Password</h4>
                                            </label>
                                            <input type="password" name="confirmPassword"
                                                   id="confirm_password" class="form-control" required="required"
                                                   th:classappend="${(isFirstTime ? '' : (#fields.hasErrors('confirmPassword') ? 'is-invalid' : 'is-valid'))}"
                                                   aria-describedby="confPasswordFeedback" placeholder="Confirm Password" />
                                            <div th:if="${(!isFirstTime and #fields.hasErrors('confirmPassword'))}" id="confPasswordFeedback"
                                                 th:class="${(#fields.hasErrors('confirmPassword') ? 'invalid-feedback' : 'valid-feedback')}"
                                                 th:text="${(#fields.hasErrors('confirmPassword') ? #fields.errors('confirmPassword').get(0).toString() : 'Looks good')}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <br>
                                    <div class="form-group">
                                        <button class="btn btn-lg btn-success"><i class="glyphicon glyphicon-ok-sign"></i>
                                            Register
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </main>
            <footer th:replace="fragments/fragment :: footer"></footer>
        </wrapper>
    </body>
</html>
