<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: head"></head>
<body>
<wrapper class="d-flex flex-column">
    <header th:replace="fragments/fragment :: nav"></header>
    <main class="flex-fil align-content-center bg-blur my-main">
        <div class="row" id="body-row">
            <div th:replace="fragments/fragment :: sidebar"></div>
            <div class="col p-4">
                <h2>My Schedule</h2>
                <hr/>
                <div class="filter-result">
                    <p class="mb-30 ff-montserrat">Total Job Openings : 89</p>

                    <div th:each="schedule : ${schedulesList}">
                        <div th:replace="fragments/schedule_row_fragment :: schedule_row (${schedule})"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="fragments/fragment :: footer"></footer>
    <link rel="stylesheet" href="/css/schedule.css" type="text/css"/>
</wrapper>
</body>
</html>
