<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:fragment="main_schedule_view (places, sports)">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <div class="career-search mb-60">

                <form action="#" class="career-form mb-60">
                    <div class="row">
                        <div class="col-md-6 col-lg-3 my-3">
                            <div class="select-container">
                                <select class="custom-select" id="sportFilter" name="sportFilter">
                                    <option value="" selected>Choice Sport</option>
                                    <option th:each="s : ${sports}" th:value="${s.id}"
                                            th:text="${s.name}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 my-3">
                            <div class="select-container">
                                <select class="custom-select" id="placeFilter" name="placeFilter">
                                    <option value="" selected>Choice Hall</option>
                                    <option th:each="p : ${places}" th:value="${p.id}"
                                            th:text="${p.name}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 my-3">
                            <button type="button" class="btn btn-lg btn-block btn-light btn-custom" id="scheduleSearch">
                                Search
                            </button>
                        </div>
                    </div>
                </form>

                <div class="filter-result">
                    <p class="mb-30 ff-montserrat">Total Open Trainings : <span>89</span></p>
                    <div id="schedulesList"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>