<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: head"></head>
<body>
<wrapper class="d-flex flex-column">
    <header th:replace="fragments/fragment :: nav"></header>
    <main class="flex-fil align-content-center bg-blur my-main">
        <div class="row" id="body-row">
            <div th:replace="fragments/fragment :: sidebar"></div>
            <div class="col p-4">
                <h2>Coach Schedule</h2>
                <hr/>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <form th:object="${scheduleBindingModel}" method="post" th:action="@{/coach/schedules}">
                            <input type="hidden" name="id" id="id" value=""/>
                            <div class="form-row">
                                <div class="col-md-4"></div>
                                <div class="col-md-2 mb-2">
                                    <label for="placeId">Hall</label>
                                    <select class="custom-select" id="placeId" name="placeId"
                                            required="required" aria-describedby="placeIdFeedback"
                                            th:classappend="${(isFirstTime ? '' : (#fields.hasErrors('placeId') ? 'is-invalid' : 'is-valid'))}">
                                        <option value="" selected>Choice Hall</option>
                                        <option th:each="p : ${places}" th:value="${p.id}"
                                                th:text="${p.name}"
                                                th:selected="${p.getId()} == *{placeId}">
                                        </option>
                                    </select>
                                    <div th:if="${(!isFirstTime and #fields.hasErrors('placeId'))}"
                                         id="placeIdFeedback"
                                         th:class="${(#fields.hasErrors('placeId') ? 'invalid-feedback' : 'valid-feedback')}"
                                         th:text="${(#fields.hasErrors('placeId') ? #fields.errors('placeId').get(0).toString() : 'Looks good')}">
                                    </div>
                                </div>
                                <div class="col-md-2 mb-2">
                                    <label for="date">Date</label>
                                    <input th:field="*{date}" type="date" class="form-control" id="date"
                                           name="date" placeholder="Date" required="required"
                                           th:classappend="${(isFirstTime ? '' : (#fields.hasErrors('date') ? 'is-invalid' : 'is-valid'))}"
                                           aria-describedby="dateFeedback"/>
                                    <div th:if="${(!isFirstTime and #fields.hasErrors('date'))}"
                                         id="dateFeedback"
                                         th:class="${(#fields.hasErrors('date') ? 'invalid-feedback' : 'valid-feedback')}"
                                         th:text="${(#fields.hasErrors('date') ? #fields.errors('date').get(0).toString() : 'Looks good')}">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-4"></div>
                                <div class="col-md-2 mb-2">
                                    <label for="startTime">Start time</label>
                                    <input th:field="*{startTime}" type="time" id="startTime" name="startTime"
                                           th:classappend="${(isFirstTime ? '' : (#fields.hasErrors('startTime') ? 'is-invalid' : 'is-valid'))}"
                                           class="form-control" placeholder="Start date" required="required"
                                           aria-describedby="startTimeFeedback"/>
                                    <div th:if="${(!isFirstTime and #fields.hasErrors('startTime'))}"
                                         id="startTimeFeedback"
                                         th:class="${(#fields.hasErrors('startTime') ? 'invalid-feedback' : 'valid-feedback')}"
                                         th:text="${(#fields.hasErrors('startTime') ? #fields.errors('startTime').get(0).toString() : 'Looks good')}">
                                    </div>
                                </div>
                                <div class="col-md-2 mb-2">
                                    <label for="endTime">End time</label>
                                    <input th:field="*{endTime}" type="time" id="endTime" name="endTime"
                                           th:classappend="${(isFirstTime ? '' : (#fields.hasErrors('endTime') ? 'is-invalid' : 'is-valid'))}"
                                           class="form-control" placeholder="End time" required="required"
                                           aria-describedby="endTimeFeedback"/>
                                    <div th:if="${(!isFirstTime and #fields.hasErrors('endTime'))}"
                                         id="endTimeFeedback"
                                         th:class="${(#fields.hasErrors('endTime') ? 'invalid-feedback' : 'valid-feedback')}"
                                         th:text="${(#fields.hasErrors('endTime') ? #fields.errors('endTime').get(0).toString() : 'Looks good')}">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-4"></div>
                                <div class="col-md-4 mb-2">
                                    <label for="description">Description</label>
                                    <textarea th:field="*{description}" class="form-control"
                                              id="description" name="description"
                                              th:classappend="${(isFirstTime ? '' : (#fields.hasErrors('description') ? 'is-invalid' : 'is-valid'))}"
                                              placeholder="Description" rows="5" required="required"
                                              aria-describedby="descriptionFeedback"></textarea>
                                    <div th:if="${(!isFirstTime and #fields.hasErrors('description'))}"
                                         id="descriptionFeedback"
                                         th:class="${(#fields.hasErrors('description') ? 'invalid-feedback' : 'valid-feedback')}"
                                         th:text="${(#fields.hasErrors('description') ? #fields.errors('description').get(0).toString() : 'Looks good')}">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row col-md-8">
                                <button class="btn btn-success btn-lg ml-auto" type="submit">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
                <hr/>
                <div th:each="schedule : ${schedules}">
                    <div th:replace="fragments/schedule_row_fragment :: schedule_row (${schedule})"></div>
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="fragments/fragment :: footer"></footer>
    <link rel="stylesheet" href="/css/schedule.css" type="text/css"/>
</wrapper>
</body>
</html>
