<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="fragments/fragment :: head"></head>
    <body>
        <wrapper class="d-flex flex-column">
            <header th:replace="fragments/fragment :: nav"></header>

            <main class="flex-fill">
                <div class="container">
                    <div id="carouselExampleIndicators" class="carousel slide mt-3 mb-3" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <th:block th:each="place, rowStat : ${places}">
                                <li data-target="#carouselExampleIndicators" th:attr="data-slide-to=${rowStat.index}"
                                    th:class="${rowStat.index == 0 ? 'active' : ''}"></li>
                            </th:block>
                        </ol>
                        <div class="carousel-inner">
                            <th:block th:each="place, rowStat : ${places}">
                                <div th:class="${rowStat.index == 0 ? 'carousel-item active' : 'carousel-item'}">
                                    <img class="d-block w-100 img-responsive" th:src="${place.getImageUrl()}" width="640"
                                         height="360" alt="">
                                    <div class="carousel-caption d-none d-md-block" id="carousel-text-bg">
                                        <h5 th:text="${place.name}"></h5>
                                        <p>Address: <span th:text="${place.city}"></span>,
                                            <span th:text="${place.address}"></span>,
                                            Phone: <span th:text="${place.phone}"></span></p>
                                    </div>
                                </div>
                            </th:block>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <div class="pricing-header px-3 py-2 mx-auto text-center">
                        <h1 class="display-4">Subscriptions</h1>
                        <p class="lead">Choose your training plan to be active with us.</p>
                    </div>
                    <div class="card-deck mb-3 text-center">
                        <div th:each="s : ${productsSubs}" class="card mb-4 shadow">
                            <div class="card-header">
                                <h4 th:text="${s.name}" class="my-0 font-weight-normal">Basic plan</h4>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title">
                                    <span th:text="${s.price}" class="text-muted">20</span>
                                    <small class="text-muted">&#36; / month</small></h1>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>For <span th:text="${s.trainingCount}">20</span> trainings</li>
                                </ul>
                                <a th:href="@{/products/details/{id}(id = ${s.id})}"
                                   class="btn btn-lg btn-block btn-primary">
                                    Buy
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <footer th:replace="fragments/fragment :: footer"></footer>
        </wrapper>
    </body>
</html>