<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/fragment :: head"></head>
<body>
<wrapper class="d-flex flex-column">
    <header th:replace="fragments/fragment :: nav"></header>
    <main class="flex-fill">
        <div class="container">
            <div th:each="s : ${sports}" class="row">
                <div id="post-1031"
                     class="post-1031 post type-post status-publish format-standard has-post-thumbnail hentry
                    category-designs">
                    <div class="pinbin-image">
                        <img th:src="${s.imageUrl}" width="300" height="225"/>
                    </div>
                    <div class="pinbin-copy">
                        <h2>
                            <p th:text="${s.name}" class="front-link">
                                BASKETBALL
                            </p>
                        </h2>
                        <p th:text="${s.description}">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Duis auctor justo enim, a malesuada nulla egestas sed. Suspendisse eu nibh condimentum,
                            condimentum nisi eu, consequat lacus. Proin vel consequat urna. Vestibulum a est malesuada,
                            commodo nisi eu, auctor tortor. Integer suscipit enim orci, nec tincidunt magna cursus a.
                            Etiam ac venenatis leo, in aliquam arcu.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="fragments/fragment :: footer"></footer>
</wrapper>
</body>
</html>