<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/fragment :: head"></head>
<body>
<wrapper class="d-flex flex-column">
    <header th:replace="fragments/fragment :: nav"></header>
    <main class="flex-fill">
        <div class="container">
            <section class="team-section my-5">
                <h2 class="h1-responsive font-weight-bold text-center my-5">Our amazing team</h2>
                <p class="grey-text text-center w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas
                    nostrum quisquam eum porro a pariatur veniam.</p>

                <div class="row text-center text-md-left">

                    <div th:each="t : ${trainers}"
                         class="col-xl-5 col-lg-12 mb-5 pt-2 pb-2 d-md-flex justify-content-between ml-auto mr-auto shadow">
                        <div class="avatar mb-md-0 mb-4 mx-4">
                            <img th:if="${t.imageUrl == null || t.imageUrl == ''}" th:src="@{/images/login_avatar.png}" class="rounded z-depth-1 img-thumbnail" alt="avatar">
                            <img th:if="${t.imageUrl != null && t.imageUrl != ''}" th:src="@{t.imageUrl}" class="rounded z-depth-1 img-thumbnail" alt="avatar">
                        </div>
                        <div class="mx-4">
                            <h4 class="font-weight-bold mb-3" th:text="${t.firstName + ' ' + t.firstName}"></h4>
                            <hr/>
                            <h6 class="font-weight-bold grey-text mb-3">Trainer: <span></span></h6>
                            <h6 class="font-weight-bold grey-text mb-3">Phone: <span th:text="${t.phoneNum}"></span></h6>
                            <p class="grey-text">Description: <span
                                th:text="${t.description}"></span></p>
                            <a th:if="${t.socialMediaUrl != null && t.socialMediaUrl != ''}" class="p-2 fa-lg fb-ic">
                                <i class="fas fa-link" th:href="${t.socialMediaUrl}"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <footer th:replace="fragments/fragment :: footer"></footer>
</wrapper>
</body>
</html>